{{>banner}}


      





<div class="features mt-5">
  
  <div class="container ">
    <div class="row">
      <div class="col-md-9">
        <h1  style="text-align: center;  ">Our Services</h1>
        <div class="row mt-5">

            
              <div class="col-md-3">
                  <div class="feature-box" data-aos="fade-right" >
                    <div class="feature-img"><img class="imgr"  src="images/stock.jpg" alt=""></div>
                    
                    
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="feature-details  mt-4" >
                      <h4 style="text-align: center;"><a  href="https://www.dole-out.in">Stockist</a></h4>
                      <p >Dole-Out is an authorised stockist of Lumia Electro System</p>
                    </div>

                  </div>
              </div>

             <div class="col-md-3">
            <div class="feature-box" data-aos="fade-right">
              <div class="feature-img"><img class="imgr" src="images/export.jpg" alt=""></div>
              
              
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>

              <div class="feature-details  mt-4">
                <h4 style="text-align: center;">Exporting</h4>
                <p>We are exporting various products to many countries</p>
              </div>

            </div>
            </div>

             <div class="col-md-3">
            <div class="feature-box" data-aos="fade-left">
              <div class="feature-img"><img class="imgr"  src="images/mark.jpg" alt=""></div>
              
              
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                
                <i class="fas fa-star-half-alt"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>

              <div class="feature-details  mt-4">
                <h4 style="text-align: center;">Marketing</h4>
                <p>Our executives will be at your door step to explain the details of all products </p>
              </div>

            </div>
            </div>
      
           <div class="col-md-3">
            <div class="feature-box" data-aos="fade-left">
              <div class="feature-img"><img class="imgr"  src="images/dist.jpg" alt=""></div>
            
              
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>

              <div class="feature-details  mt-4">
                <h4 style="text-align: center;">Distribution</h4>
                <p>We distribute the products based on the orders from the customers</p>
              </div>

            </div>
            </div>
      
      
      </div>
    </div>

      <div class= " point col-md-3 ">
        <h1 style="text-align: center;">Features</h1>
        
            <div class="points mt-5" style="text-align: center;">
                <h5  data-aos="fade-left" data-aos-duration="500">Reliability</h5>
                
                <h5   data-aos="fade-left" data-aos-duration="800" >Easydeal</h5>
                <h5  data-aos="fade-left"  data-aos-duration="1100">Quality</h5>
                <h5  data-aos="fade-left" data-aos-duration="1400">On time delivery</h5>
                <h5 data-aos="fade-left"  data-aos-duration="1700">Easy contact</h5>
            </div>
            </div>
          

  </div>
</div>


<style>

.imgr{
height: 10rem;
object-fit: cover;
object-position: center;
}

.feature-img img{
  width: 100%;
 
}
.features h1{
   color: #1e202c;
}


.rating{
  padding: 1px;
  
  background: #fff;
  
  right: 1;
  position: absolute;
}

.features  .fas{
  font-size: 10px;
  color: #c69963;
}

.feature-details{
  text-align: justify;
   color: #1e202c;
  
  
}

.features .point .points h5{
  color: #c69963;
  padding-top: 300px;
  background: linear-gradient(rgba(31, 31, 63, 0.95),rgba(22, 36, 53, 0.95));
  border-radius: 10px;
  padding: 5px;
  padding-top: -2px;
  

  
}


.features .point .points {
  
}


</style>

<div class="background mt-5">
<h5>Contacts</h5><br>

<p style="color: #c69963;">(+91)7736442928 <br>
doleoutexports@gmail.com</p>
</div>


<style>
  
  .background {
    text-align: center;
    background: linear-gradient(rgb(16 44 40 / 38%),rgba(9, 10, 12, 0.95)), url(images/bg2.jpg) center no-repeat;
    height: 20rem;
    background-attachment: fixed;
}

  .background h5{
    color: #c69963;
    text-align: center;
    padding-top: 7rem;

  }
</style>





<div class="features mt-5"></div>
<div class="container">
    
       <div style="text-align: center;"> <h1 class="products " style="color: #c69963; ">PRODUCTS</h1></div>
      
      <div class="row">
            
       
            
           

            
          {{#each products}}


            <div class="col-md-6 col-12 pt-5 pb-5"  data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000" >
              <div class="card">
                <img class="image-resize" style="width: 100%;"  src="/product-images/{{this._id}}.jpg"  >
                <div class="card-body">
                  <p class="card-title">{{this.Name}}</p>
                  <p class="card-text">{{this.Description}}</p>
                  <p class="card-text">Rs.{{this.Price}}</p>
                  
                  <button onclick="addToCart('{{this._id}}')" class="btn btn-primary "> <span class="act">Add to Cart </span> </button>
                </div>
             </div>

            </div>

            {{/each}}


      </div>
    </div>
</div>
    


<style>
  
 .featrues .products{
   text-align: center;
  }

.features .image-resize{
height: 20rem;
object-fit: cover;
object-position: center;
}


  .card{
    
    
    align-items: center;
    
    line-height: .4;
    box-shadow: 0 4px 10px 0 rgb(19, 18, 18);
    
  }
    


    .card-body{
     background-color: rgb(18, 47, 70);
     line-height: .2;
     font-size: 12px;
     height: 3.5rem;
     text-align: center;
     padding-top: 10px;
     
    }
    

    
      .card-body p{
     
      color: #c69963;}
    
  .card-body button{
     border-radius: 6px;
     color: rgb(240, 226, 228);
      background-color: rgb(93, 113, 129);
     font-size: 12px;
     padding: 3px;
  }
     

     @media(max-width:991px){
                    
        .features .image-resize{
        height: 12rem;
        
        }

     }

     
     @media(max-width:768px){
                         
        .features .image-resize{
        height: 18rem;
        
        }
        
     }

      
     @media(max-width:575px){
                         
        .features .image-resize{
        height: 19rem;
        
        }
        
     }

     
     @media(max-width:465px){
                         
        .features .image-resize{
        height: 15rem;
        
        }
        
     }

     
     @media(max-width:381px){
                         
        .features .image-resize{
        height: 13rem;
        
        }
        
     }

     
     @media(max-width:347px){
                         
        .features .image-resize{
        height: 11rem;
        
        }
        
     }

     
     @media(max-width:296px){
                         
        .features .image-resize{
        height: 9rem;
        
        }
        
     }
     

     
     @media(max-width:281px){
       .card-body{
         font-size: 8px;
       }

       .act{
         font-size: 9px;
       }
     }
     

</style>








<div class="background mt-5">
<h5>Head Office</h5><br>
<p style="color: #c69963;">Trivandrum   <br>
  India</p>
</div>





<div class="container">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Send messages</h2>
                <form action="/send-message" method="POST" enctype="multipart/form-data">
                    <label for="">Importer</label>
                    <input type="text" name="Name" class="form-control">

                     <label for="">Email</label>
                    <input type="text" name="Shoap" class="form-control">

                     <label for="">Phone</label>
                    <input type="text" name= "Phone" class="form-control">

                     <label for="">Messages</label>
                    <input type="text" name="Text" class="form-control">

                    

                    <button type="submit" class="btn btn-success mt-4" onclick="return confirm('Thank you for your message')">Submit</button>
                </form>

            </div>

      
            <div class="col-md-6 col-12 ">
              <div class="adr" >
                <h2 class="text-center">Address</h2>
                <div class="dole pt-1 pb-1">
                <h4>DOLE-OUT</h4>
                <h3>Kanjiramkulam PO</h3>
                <h3>Trivandrum</h3>
                <h3>Kerala</h3>
                <h3>India</h3>
                <h3>695524</h3>
                </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer mt-4">
  <div class="container "  >
  <div class="row mar">
    <div class="col-md-4 col-12 " data-aos="fade-right">
        <h5 class=" doleout mb-4">
          DOLE-OUT
        </h5>
        <p class="if">If have any question  please feel free to contact us</p>
    </div>

    <div class="col-md-2 col-6" data-aos="fade-right">
       <div class="text" >
        <h5 class="heading mb-4" style="text-align: right;">Products</h5>
        <p><a href="" class="text-whi" style="text-decoration: none;"> Tubelight</a></p>
        <p><a href="" class="text-whi" style="text-decoration: none;"> Streetlight</a></p>
        <p><a href="" class="text-whi" style="text-decoration: none;"> Spotlight</a></p>
        <p><a href="" class="text-whi" style="text-decoration: none;"> MagicBulb</a></p>
         </div>
    </div>
    <div class="col-md-2 col-6" data-aos="fade-left">
      <div class="textrt">
        <h5 class=" heading mb-4 ">Exporting</h5>
        
        <p><a href="" class="text-whit" style="text-decoration: none;"> Spices</a></p>
        <p><a href="" class="text-whit" style="text-decoration: none;"> Garments</a></p>
        <p><a href="" class="text-whit" style="text-decoration: none;"> Nuts</a></p>
        <p><a href="" class="text-whit" style="text-decoration: none;"> Lights</a></p>
         </div>
    </div>

    <div class="col-md-2 col-6" data-aos="fade-right" >
        <h5 class=" heading mb-4">Contact</h5>
        <p class="In"><i class="fas fa-home mr-3" style="color: white;"></i>India</p>
        <p class="In"><i class="fas fa-envelope mr-3"  style="color: white;" ></i>doleoutexports@gmail.com</p>
        
        <p class="In"><i class="fas fa-phone mr-3"  style="color: white;"></i>(91)7736442928</p>
        
        
    </div>
    <div class="col-md-2 col-6  crt" data-aos="fade-left">
        <h5 class=" heading mb-4 adrees">Address</h5>
        <p class="In">DOLE-OUT<i class= "fas fa-map-marker-alt ml-3" style="color: white;"></i></p>
        <p class="In">Kanjiramkulam PO<i class="fas fa-home ml-3"  style="color: white;" ></i></p>
        <p class="In">Trivandrum<i class="fas fa-home ml-3"  style="color: white;"></i></p>
        <p class="In">India<i class="fas fa-home ml-3"  style="color: white;"></i></p>
        
    </div>
  </div>

  </div>


  
  <div class="row">
    <div class="col-md-4 " >
      <div class="ajs" ><img  src="/images/ajs2.png" alt=""></div>
      </p>
    </div>

  

      <div class="col-md-4"  >
      <p  class="copyright">Copyright @2020 All rights reserved by:
        <a href="" style="text-decoration: none;"><strong class="">The providers</strong></a>
      </p>
     
    </div>

      <div class="col-md-4"  >
      <div class="text-center text-md-right" >
        <u class="list-unstyled list-inline">
          <li class="list-inline-item "><a href="" class="btn-floating btn-sm text-white"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item "><a href="" class="btn-floating btn-sm text-white"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item "><a href="" class="btn-floating btn-sm text-white"><i class="fab fa-google-plus"></i></a></li>
          <li class="list-inline-item "><a href="" class="btn-floating btn-sm text-white"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item "><a href="" class="btn-floating btn-sm text-white"><i class="fab fa-youtube"></i></a></li>

        </ul>
         
      </div>
    </div>
  </div>

</footer>







<style>

  .ajs img{
    height: 5rem;
    width: 9rem;
  }

  label{
    padding-top: 3px;
  }

  .adr{
    box-shadow: 0 4px 10px 0 rgb(19, 18, 18);
    padding-top: 1rem;
   
    width: 20rem;
    margin-left: 8rem;
    margin-top: 2rem;
    
  }

  .dole{
    text-align: center;
  }

  .fab{
    font-size: 12px;
  }

  .ajs{
    
    color: rgb(163, 163, 27);
    text-align: center;
  }

  .mar{
   padding-top: 2rem;
  }
.In{
  color: #fff;
  font-size: 11px;
  
}
  .copyright{
    font-size: 13px;
    margin-top: 1rem;
    color: white;
    text-align: center;
      }

  .footer{
     background: linear-gradient(rgba(16,29,44,95),rgba(17, 17, 17, 0.95)),
    url("images/logo2.png") center no-repeat;
  }

  
.text-white{

}
  .heading{
    font-size: 14px;
    color: white;
    
    
    
  }
  

  .if{
    font-size: 12px;
    color: white;
    text-align: center;
  }

  .text-whit{
    font-size: 12px;
    text-align: left;
    color:white;
  }

  
  .text-whi{
    font-size: 12px;
    text-align: right;
    color:white;
  }





  .doleout{
     color: #c69963;
     text-align: center;
  }
  .textrt{
    text-align:left;
  }
.crt{
  text-align: right;
}
.text{
  text-align: right;
}
.cont{
  text-align: left;
  padding-left: ;
}
.list-inline-item{
 
}

@media(max-width:1009px){
  
  .adr{
  
   
    margin-left: 4rem;

    
  }

}



@media(max-width:876px){
  
  .adr{
  
   
    margin-left: 2rem;

    
  }

}


@media(max-width:768px){
  
  .adr{
  
   
    margin-left: 0rem;
    width: 100%;

    
  }

}



@media(max-width:442px){
  
  .dole h3{
   font-size: 1.5rem;
  }
  
  
  .dole h3{
   font-size: 1.5rem;
  }
}

</style>
  


